/* 關於我(about.html)的css樣式 */

div#myresearch {
    height: auto;
    width: auto;
    background-color: rgba(233, 254, 255, 0.2);
    padding: 30px;
    z-index: 1;          /* 確保內容顯示在遮罩上面 */
    color: rgb(0, 15, 97);        /* 白色文字比較清楚 */
}

h1 {
    color: white;
    text-align: center;
}

body {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}