/* 首頁(index.html)的css樣式 */

/* h1、p (標題和段落內容) 的css */
h1, p {
    text-align: center; /* 置中標題 */
    color: rgb(0, 217, 255); /* 設定標題文字顏色 */
}

body {
    background: 
        linear-gradient(rgba(0, 0, 50, 0.6), rgba(0, 0, 80, 0.6)), /* 深藍透明背景 */
        url('ing/Sea of Trees.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    margin: 0;
}

a{
    color: white;
    background-color: rgb(193, 255, 242);
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(234, 255, 175);
}
a:link{
    color: rgb(255, 193, 135);
}
a:visited{
    color: rgb(0, 148, 216);
}